.vs/
BoardGameLeagueUIBinding/bin/
BoardGameLeagueUI/obj/
BoardGameLeagueUI/bin/
BoardGameLeagueUIBinding/obj/
BoardGameLeagueLib/bin/
BoardGameLeagueLib/obj/
BoardGameLeagueUI2/bin/
BoardGameLeagueUI2/obj/
